/* Add a black background color to the top navigation */
.navigation-bar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 9px 40px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

/* Style the search box inside the navigation bar */
.navigation-bar input[type=text] {
  float: right;
  padding: 2px;
  border: 0px solid;
  margin-top: 8px;
  margin-right: 11px;
  font-size: 17px;
}



.para {
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 15px;
}

.name {
  text-align: center;
  margin-top: 45px;
  font-family: sans-serif;
  font-size: 50px;
}

.name2 {
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 30px;  
}

.paraline {
  text-align: center;
  margin-top: 12px;
  font-family: sans-serif;
  font-size: 17px;  
}

.paraline2 {
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 17px;  
}

.learn {
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 20px;
}

.image {
  display: block;
  margin-left:7%;
}

.part2 {
  background-color: black;
  color: white;
}

.name3 {
  text-align: center;
  margin-top: 45px;
  padding-top:50px;
  font-family: sans-serif;
  font-size: 50px;  
}

.name4 {
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 30px;  
}

.paraline3 {
  text-align: center;
  margin-top: 12px;
  font-family: sans-serif;
  font-size: 17px;  
}

.paraline4 {
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 17px;  
}

.learn1 {
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 20px;
}

.picture {
  display: block;
  margin-left:13%;
}

.part3 {
  background-color: black;
  color: white;
}

.name5 {
  text-align: center;
  margin-top: 40px;
  padding-top:50px;
  font-family: sans-serif;
  font-size: 50px;  
}

.name6 {
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 30px;  
}

.learn2 {
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 20px;
}

.picture1 {
  display: block;
  margin-left:8%;

}

.endPara {
  background-color: #DCDCDC;
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-size: 13px;
  float: none;
}

.Foot {
  display: block;
  font-size: 18px;
  background-color: black;
  color: white;
  font-family: sans-serif;
}